body { 
    background-image: url("images/background-design-marble-850796.jpg");
    color: black;
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Quattrocento', serif;
    font-size: 18px;
}
h1 {
    color: teal; 
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: teal;
    font-size: 30px;
    font-weight: bold;
}
img {
    border: 10px solid teal;
}
ul {
    color: black;
}